body {
	margin:0;
	background:#FCEBEB;
	display:flex;
	justify-content:center;
	align-items:flex-end;
	gap:20px;
	position:absolute;
	width:100%;
	top:50%;
	translate:0 -50%;
}
div {
	width: 24px;
	height: 25px;
	background: #8E2C88;
}
:nth-child(2n) {
	height:72px;
}